.header__lang-link {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: normal;
  text-align: right;
  color: #fff;
  text-decoration: none;
  transition: opacity 1s linear;
  margin: 46px 48px 62px 18px;
}

.header__lang-link:hover {
  opacity: 0.3;
  color: #fff;
}

.header__lang-link:first-of-type {
  margin-right: 0;
}

.header__lang-link_active {
  text-decoration: underline;
}

@media screen and (width: 1024px) {
  .header__lang-link {
    margin-bottom: 54px;
  }
}

@media screen and (width: 320px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin: 30px 16px 56px 18px;
  }
}
