.header__lang-link {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: normal;
  text-align: right;
  color: #fff;
  text-decoration: none;
  transition: opacity 1s linear;
  margin-left: 18px;
}

.header__lang-link:hover {
  opacity: 0.3;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}
