.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-items: stretch;
  margin: 0 48px 92px 48px;
  padding: 0;
}

@media screen and (width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (width: 768px) {
  .photo-grid {
    margin: 0 24px 92px 24px;
    gap: 16px;
  }
}
