.cover__subtitle {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #fff;
  text-align: center;
  white-space: pre-line;
  margin: 0;
}

@media screen and (width: 320px) {
  .cover__subtitle {
    font-size: 0.875rem;
    line-height: 1rem;
    white-space: normal;
  }
}
