.header__logo {
  background-image: url(../../../images/sprint-3-images/header-logo.svg);
  position: absolute;
  width: 176px;
  height: 52px;
  top: 28px;
  left: 48px;
  z-index: 1;
}

@media screen and (width: 768px) {
  .header__logo {
    left: 24px;
  }
}
