.cover__title {
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  white-space: pre-line;
  margin: 0 0 32px 0;
}

@media screen and (width: 320px) {
  .cover__title {
    font-size: 2rem;
    line-height: 2.1875rem;
    margin: 0 0 16px 0;
  }
}
