.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas:
    "title website"
    "image paragraph";
  gap: 48px 40px;
  margin: 0 0 80px 0;
  text-decoration: none;
}

.place:last-child {
  margin: 0 0 92px 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
    margin: 0 0 73px 0;
  }
  .place:last-child {
    margin: 0 0 90px 0;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
    gap: 32px;
    margin: 0 0 50px 0;
  }
  .place:last-child {
    margin: 0 0 66px 0;
  }
}
