.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 186px;
  max-width: 1184px;
  margin: 92px 48px 24px 48px;
}

@media screen and (width: 768px) {
  .footer {
    margin: 88px 24px 24px 24px;
  }
}

@media screen and (width: 320px) {
  .footer {
    flex-direction: column;
    margin: 64px 0px 24px 16px;
  }
}
